In [102]:
import pandas as pd
import numpy as np
df = pd.read_csv("datasets/OxCGRT_latest.csv")

In [70]:
data = []
for index, row in df.iterrows():
    tmp_row = str(row['CountryName'])
    info = tmp_row.split(",")
    tmp = info[:-1]
    data.append(tmp)

In [71]:
df2 = pd.DataFrame(data, columns = ['CountryName', 'CountryCode', 'Date', 'StringencyIndex']) 
df2.drop(df2.tail(1).index,inplace=True) 
df2["StringencyIndex"] = pd.to_numeric(df2["StringencyIndex"])

In [127]:
#Attempt to get how you wanted with two indexes.. A bit unsure what you mean
df3 = df2
df3.set_index(['CountryCode', 'Date'] )
df2

      CountryName CountryCode        Date  StringencyIndex
0           Aruba         ABW   1/01/2020             0.00
1           Aruba         ABW   2/01/2020             0.00
2           Aruba         ABW   3/01/2020             0.00
3           Aruba         ABW   4/01/2020             0.00
4           Aruba         ABW   5/01/2020             0.00
...           ...         ...         ...              ...
17277      Kosovo         RKS  19/04/2020            90.48
17278      Kosovo         RKS  20/04/2020            90.48
17279      Kosovo         RKS  21/04/2020            90.48
17280      Kosovo         RKS  22/04/2020            90.48
17281      Kosovo         RKS  23/04/2020            90.48

[17282 rows x 4 columns]

In [198]:
df4 = df2
#for index, row in df4.iterrows():
#     print(row['Date'])
dates = df4['Date'].unique()
df5 = pd.DataFrame(columns = dates)

Empty DataFrame
Columns: [1/01/2020, 2/01/2020, 3/01/2020, 4/01/2020, 5/01/2020, 6/01/2020, 7/01/2020, 8/01/2020, 9/01/2020, 10/01/2020, 11/01/2020, 12/01/2020, 13/01/2020, 14/01/2020, 15/01/2020, 16/01/2020, 17/01/2020, 18/01/2020, 19/01/2020, 20/01/2020, 21/01/2020, 22/01/2020, 23/01/2020, 24/01/2020, 25/01/2020, 26/01/2020, 27/01/2020, 28/01/2020, 29/01/2020, 30/01/2020, 31/01/2020, 1/02/2020, 2/02/2020, 3/02/2020, 4/02/2020, 5/02/2020, 6/02/2020, 7/02/2020, 8/02/2020, 9/02/2020, 10/02/2020, 11/02/2020, 12/02/2020, 13/02/2020, 14/02/2020, 15/02/2020, 16/02/2020, 17/02/2020, 18/02/2020, 19/02/2020, 20/02/2020, 21/02/2020, 22/02/2020, 23/02/2020, 24/02/2020, 25/02/2020, 26/02/2020, 27/02/2020, 28/02/2020, 29/02/2020, 1/03/2020, 2/03/2020, 3/03/2020, 4/03/2020, 5/03/2020, 6/03/2020, 7/03/2020, 8/03/2020, 9/03/2020, 10/03/2020, 11/03/2020, 12/03/2020, 13/03/2020, 14/03/2020, 15/03/2020, 16/03/2020, 17/03/2020, 18/03/2020, 19/03/2020, 20/03/2020, 21/03/2020, 22/03/2020, 23/03/2020, 24/03/2020, 25/03/2020, 26/03/2020, 27/03/2020, 28/03/2020, 29/03/2020, 30/03/2020, 31/03/2020, 1/04/2020, 2/04/2020, 3/04/2020, 4/04/2020, 5/04/2020, 6/04/2020, 7/04/2020, 8/04/2020, 9/04/2020, ...]
Index: []

[0 rows x 115 columns]

In [201]:
df5['CountryCode'] = df2['CountryCode'].unique()
df6 = df5.set_index(['CountryCode'])
df6

,1/01/2020,2/01/2020,3/01/2020,4/01/2020,5/01/2020,6/01/2020,7/01/2020,8/01/2020,9/01/2020,10/01/2020,...,15/04/2020,16/04/2020,17/04/2020,18/04/2020,19/04/2020,20/04/2020,21/04/2020,22/04/2020,23/04/2020,24/04/2020
CountryCode,,,,,,,,,,,,,,,,,,,,,
ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ALB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZMB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TWN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
RKS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [205]:
for i in range(150): #151 countries
    tmp = np.asarray(df2['StringencyIndex'].iloc[i*115:115+115*i])
    df6.iloc[i,:] =tmp

In [206]:
df6 #Hopefully what you are looking for. it fucks up the last country because of the stupid for loop above.

,1/01/2020,2/01/2020,3/01/2020,4/01/2020,5/01/2020,6/01/2020,7/01/2020,8/01/2020,9/01/2020,10/01/2020,...,15/04/2020,16/04/2020,17/04/2020,18/04/2020,19/04/2020,20/04/2020,21/04/2020,22/04/2020,23/04/2020,24/04/2020
CountryCode,,,,,,,,,,,,,,,,,,,,,
ABW,0,0,0,0,0,0,0,0,0,0,...,85.71,85.71,85.71,85.71,85.71,85.71,85.71,85.71,85.71,85.71
AFG,0,0,0,0,0,0,0,0,0,0,...,71.43,71.43,71.43,71.43,71.43,71.43,71.43,71.43,71.43,71.43
AGO,0,0,0,0,0,0,0,0,0,0,...,71.43,71.43,71.43,71.43,71.43,71.43,71.43,71.43,71.43,71.43
ALB,0,0,0,0,0,0,0,0,0,0,...,85.71,85.71,85.71,85.71,85.71,85.71,85.71,85.71,85.71,85.71
AND,0,0,0,0,0,0,0,0,0,0,...,71.43,71.43,71.43,71.43,71.43,71.43,71.43,71.43,71.43,71.43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZAF,100,100,100,100,100,100,100,100,100,100,...,23.81,23.81,23.81,23.81,23.81,23.81,23.81,38.1,38.1,38.1
ZMB,38.1,38.1,38.1,38.1,38.1,38.1,47.62,47.62,47.62,47.62,...,0,0,0,0,28.57,28.57,28.57,28.57,28.57,28.57
ZWE,52.38,66.67,66.67,66.67,66.67,66.67,66.67,100,100,100,...,33.33,33.33,42.86,42.86,42.86,42.86,47.62,47.62,47.62,47.62
TWN,47.62,47.62,47.62,47.62,42.86,38.1,38.1,38.1,38.1,38.1,...,61.9,61.9,85.71,85.71,85.71,85.71,85.71,85.71,85.71,85.71
RKS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN